<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1> -->

    <!-- <h2>Name is {{ name }}</h2>    #1
    <h2>Age is {{ age }}</h2>
    <h2>Place is {{ place }}</h2> -->

    <!-- {% if num1 > 0%}
        <h2>Positive Number</h2>
    {% endif %} -->
    
    <!-- {% if num1 > 0%}                #2
        <h2>Positive Number</h2>
    {% elif num1 < 0%}
        <h2>Negative Number</h2>
    {% else %}
        <h2>Number is Zero</h2>
    {% endif %} -->

    <!-- {% for n in num1 %}              #3
        <h2>{{n}}
    {% endfor %} -->

    <!-- {% for f in fruits %}              
        <h2>{{f}}
    {% endfor %}

</body>
</html> -->



<!-- {% block title%}
Home 
{% endblock%}

{% block content%}
<h1>Home Page</h1>
{% endblock%} -->